<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="red-box">
        <div class="red-box-info">
            <h2>Red Box 1</h2>
            <img src="img/wallhaven-exkg7w_1920x1080.png" width="200px">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsa in provident ratione accusantium blanditiis. Dolorum officiis fugiat nam, amet necessitatibus voluptatem velit eveniet.</p>
        </div>
        <div class="red-box-info">
            <h2>Red Box 2</h2>
            <img src="img/wallhaven-486l61_1920x1080.png" width="200px">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus hic accusantium ipsum, sapiente eaque nam illo, aliquam commodi autem voluptatibus cupiditate quas quo.</p>
        </div>
        <div class="red-box-info">
            <h2>Red Box 3</h2>
            <img src="img/wallhaven-956q2x_1920x1080.png" width="200px">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi omnis reiciendis nobis voluptas? Animi autem omnis magnam maiores nobis? Est minima deserunt nam recusandae?</p>
        </div>
        <div class="red-box-info">
            <h2>Red Box 4</h2>
            <img src="img/wallhaven-j5dp2y_1920x1080.png" width="200px">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae asperiores hic aliquam dolorem numquam, adipisci non autem mollitia laudantium nemo, quidem voluptatum. Iusto, porro.</p>
        </div>
    </div><!--end of red box id-->

    <div id="green-box">
        <div class="green-box-info">
            <h2>Green Box 1</h2>
             <img src="img/wallhaven-j5elow_1920x1080.png" width="200px">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
        <div class="green-box-info">
            <h2>Green Box 2</h2>
            <img src="img/wallhaven-kwov61_1920x1080.png" width="200px">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
        <div class="green-box-info">
            <h2>Green Box 3</h2>
            <img src="img/wallhaven-l3q2kl_1920x1080.png" width="200px">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
        <div class="green-box-info">
            <h2>Green Box 4</h2>
            <img src="img/wallhaven-nmpqrk_1920x1080.png" width="200px">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
    </div><!--end of green box id-->

    <div id="blue-box">
        <div class="blue-box-info">
            <h2>Blue Box 1</h2>
              <img src="img/wallhaven-odd63p_1920x1080.png" width="200px">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
        <div class="blue-box-info">
            <h2>Blue Box 2</h2>
             <img src="img/wallhaven-p2m2ke_1920x1080.png" width="200px">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
        <div class="blue-box-info">
            <h2>Blue Box 3</h2>
            <img src="img/wallhaven-p8dxz3_1920x1080.png" width="200px">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
        <div class="blue-box-info">
            <h2>Blue Box 4</h2>
            
            <img src="img/wallhaven-pkmvze_1920x1080.png" width="200px">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
    </div><!--end of blue box id-->

    <div id="purple-box">
        <div class="purple-box-info">\
            <h2>Purple Box 1</h2>
              <img src="img/wallhaven-j5elow_1920x1080.png" width="200px">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
        <div class="purple-box-info"> 
            <h2>Purple Box 2</h2>
             <img src="img/wallhaven-kwov61_1920x1080.png" width="200px">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
        <div class="purple-box-info">
            <h2>Purple Box 3</h2>
            <img src="img/wallhaven-l3q2kl_1920x1080.png" width="200px">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
        <div class="purple-box-info">
            <h2>Purple Box 4</h2>
            <img src="img/wallhaven-nmpqrk_1920x1080.png" width="200px">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, earum. Illo iure temporibus omnis laboriosam velit, illum quibusdam quia labore nesciunt in, quam enim!</p>
        </div>
    </div><!--end of purple box id-->
</body>
</html>